.content {
  display: flex;
  flex-direction: column;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    margin-top: -80px;
    margin-bottom: 40px;

    .image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        width: 20%;
        position: absolute;
        left: 50;
        top: 0;
      }

      img.flash {
        position: relative;
        top: -36rem;
        width: 58%;
      }

      .toggle-switch {
        position: relative;
        top: -60rem;
      }

      .main-content {
        position: relative;
        top: -52rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 16px;
        width: 50%;

        h1 {
          font-size: 96px;
          color: #24272c;

          &.dark-mode {
            color: #fff;
          }
        }

        span {
          color: #a5a5a5;
          width: 70%;
          font-size: 16px;
          word-wrap: break-word;

          &.dark-mode {
            color: #c2c4c4;
          }
        }
      }
    }

    .elipse-container {
      display: flex;
      justify-content: center;

      img {
        width: 70%;
        position: relative;
        transition: 0.25s;
      }
    }
  }
}
